.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Ap-bottom {
  background-color: #282c34;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Ap-corpus{
  background-color: #98353D;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #95f8f0;
  padding-bottom: 2vh;
}
.App-link {
  color: #61dafb;
}
#bienvenida p{

  text-align: justify;
}
#bienvenida h1{
  text-align: center;
}
#bienvenida{
  max-width: 75%;
}
#botonPerfil{
  position: absolute;
  right: 5px;
  top: 6vh;
  width: 70px;
}
.estilo p{

  text-align: justify;
}
.estilo h1{
  text-align: center;
}
.estilo{
  max-width: 75%;
}
.tabRegistro{
  table-layout: fixed;
  width: 45%;
  display: block;
  margin: auto;
  align-self: center;
  text-align: justify;
}
.preguntasTabla{
  table-layout: fixed;
  width: 85vw;
  margin: auto;
  align-self: center;

}
.respuestasDer{
  text-align: center;
}
.preg{
  text-align: left;
}
.preguntasTabla td{
  width: 5%;
}
td .registro{
  width: 50%;
}
tr{
  border: 1px solid #282c34;
  width: 100%;
  display: block;
  margin: auto;
}
tbody{
  width: 100%;
  display: block;
  margin: auto;
}

select{
  width: 100%;
  height: 100%;
  border-radius: 12px;
  height: 25px;
  width: 495px;
  text-align: center;
  max-width: 75%;
}
option{
  text-align: center;
}
table button{
  max-width: 75%;
  height: 100%;
  border-radius: 12px;
  height: 25px;
  width: 495px;
  display: block;
  margin: auto;
}
.response{
  text-align: right;
  width: 100%,
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (orientation: landscape) {
.input{
  height: 100%;
  border-radius: 12px;
  height: 25px;
  width: 495px;
  min-width: 70%;
  max-width: 75%;
}
}
@media (orientation: portrait) {
  input, select, button, table button{
 width: 200px;
}
.tabRegistro{
  width: 95%;
}
.input{
    border-radius: 12px;
 width: 200px;
}
.App-header{
  height: 5vh;
}
.respuestasDer input, .intereses input{
width:50px;
}
.Ap-bottom{
  height: 5vh;
}
.Ap-corpus{
  min-height: 90vh;
}
}
