.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Ap-corpus{
  background-color: #98353D;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #95f8f0;
}
.App-link {
  color: #61dafb;
}
#bienvenida p{

  text-align: justify;
}
#bienvenida h1{
  text-align: center;
}
#bienvenida{
  max-width: 75%;
}
.estilo p{

  text-align: justify;
}
.estilo h1{
  text-align: center;
}
.estilo{
  max-width: 75%;
}
table{
  table-layout: fixed;
  width: 45%;
  display: block;
  margin: auto;
  align-self: center;
  text-align: justify;
}
td{
  width: 50%;
}
tr{
  border: 1px solid #282c34;
  width: 100%;
  display: block;
  margin: auto;
}
tbody{
  width: 100%;
  display: block;
  margin: auto;
}
input{
  width: 100%;
  height: 100%;
  border-radius: 12px;
  height: 25px;
  width: 495px;
}
select{
  width: 100%;
  height: 100%;
  border-radius: 12px;
  height: 25px;
  width: 495px;
  text-align: center;
}
option{
  text-align: center;
}
table button{
  width: 100%;
  height: 100%;
  border-radius: 12px;
  height: 25px;
  width: 495px;
  display: block;
  margin: auto;
}
.response{
  text-align: right;
  width: 100%,
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
